<p id="notice"><%= notice %></p>

<h2 class="ui center aligned icon header" style="color:black !important">
  <i class="circular users icon"></i>
  <%= @title %>
</h2>

<br>

<% @users.each do | prkl | %>
<div style="float:left; margin:20px;">
<div class="ui link cards">
<div class="card">
  <div class="image">
  <img style="height: 250px; object-fit: cover;" src="<%= prkl.avatar %>"
  onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';">
  </div>
  <div class="content">
    <div class="header"> <span class="userlink" onclick="window.location= ('/profile/<%= prkl.id %>')"><%= prkl.name %> </div>
  </div>
</div>
</div>
</div>
<% end %>

