<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form.label "Photo" %>
<%= form.file_field :attachment, :required => true %><br>

<div class="ui form">
  <div class="field">
    <div class="two fields">
      <div class="field input">
      <%= form.label :description, :style =>"color:white" %>
      <%= form.text_field :opis %>
      </div>
    </div>
  </div>
  <div class="two fields">
    <div class="field" >
      <%=form.label :number, :style =>"color:white" %>
      <%= form.number_field :stevilka %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :class =>"ui secondary button" %>
  </div>
</div>
<% end %>
