
<p id="notice" class="notice"><%= notice %></p>
<p id="alert" class="alert" style="color: red !important;"><%= alert %></p>

<!---
  # <% @posts.each do |post| %>
  #   <tr>
  #     <td><%= post.user.name %></td>
  #     <td><%= post.ime %></td>
  #     <td><%= post.opis %></td>
  #     <td><%= post.stevilka %></td>
  #     <td><%= link_to 'Show', post %></td>
  #     <td><%= link_to 'Edit', edit_post_path(post) %></td>
  #     <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  #   </tr>
  # <% end %>
-->


<% @posts.each do |post| %>

<div style="float:left; width:32%; margin:10px; background-color: rgba(190, 190, 190, 0.8);" class="ui card">
  <div class="content">
    <div class="right floated meta">14h</div>
    <img class="ui avatar image" src="https://i2.wp.com/aumentada.net/wp-content/uploads/2015/05/user.png?ssl=1"> <%= post.user.name %>
  </div>
  <div class="image">
    <img 
      src="<%= post.attachment %>" 
      style="height: 300px !important;"
    />
  </div>
  <div class="content">
  <div class="description">
      <%= post.ime %>
      <%= post.opis %>
      </div>
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
  </div>
  <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
      <input type="text" placeholder="Add Comment...">
    </div>
  </div>
</div>
<% end %>





