<style>

.showinfo{
  font-size:1.2em;
  background-color: #eeeeeeaa;
  width: 70%;
  margin: auto;
  padding:10px;
}

.diffbuttons{
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

</style>

<div class="showinfo">
<div>
<img class="ui avatar image" src="https://i2.wp.com/aumentada.net/wp-content/uploads/2015/05/user.png?ssl=1" 
style="width:50px; height:50px;"> 
<%= @post.user.name%>
</div>

<div style="display:flex; align-items: center; justify-content:center;">
<img 
src="<%= @post.attachment %>" 
style="height: 600px !important; width:auto !important;"
/>
</div>

<p style="font-size:1.1em!important">
  <%= @post.opis %>
</p>

<p>
<%= commontator_thread(@post) %>
</p>


<div class="diffbuttons">

<%= link_to 'Back', posts_path, class:"ui secondary button", style:"width: 9%;" %>

<% if @post.user == @USER %>
    <%= link_to 'Edit', edit_post_path(@post), class:"ui secondary button", style:"margin-left:2px; width: 9%;" %>
    <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } , class:"ui red button", style:"margin-left:2px; width: 9%;" %>
<% end %>


</div>
</div>

