<div class="user_profile">

  <img src="https://www.corneliustoday.com/wp-content/uploads/2019/08/camera-black-and-white-tumblr.jpg" alt="profile pic" 
  style="object-fit: cover; height: 20em; width: 20em; border-radius: 500rem;">

</div>
<div class="user_details">
<p><%= @USER.fullname%> </p>
</div>
<div class="user_details2">
<p><%= @USER.name%> </p>
</div>

<div>
<% if current_user %>
  <% if @IsThisMe == false and @USER != current_user %>
    <% if current_user.following?(@USER) %>
      <%= link_to unfollow_follow_system_path(@USER.id), method: :put, class: "links" do %>
        <i class="minus icon"></i>
      <% end %>
      
    <% else %>

      <%= link_to follow_follow_system_path(@USER.id), method: :put, class: "links" do %>
        <i class="plus icon"></i>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>


<div class="user_info">
  <div class="uinfo">
    <p><%= @post_count %><br>Posts</p>
  </div>
  <div class="uinfo">
    <p><%= @follower_count %><br>Followers</p>
  </div>
  <div class="uinfo">
    <p><%= @following_count %><br>Following</p>
  </div>
</div>

<div style="clear:both;"></div>


<% @posts.each do |post| %>

<div style="float:left; width:32.2%; margin:10px; background-color: white;" class="ui card">
  <div class="image">
    <img
      onclick="window.location='/posts/<%= post.id %>'"
      src="<%= post.attachment %>" 
      style="object-fit: cover; height: 350px !important;"
    />
  </div>
    <span class="right floated">
  </div>
</div>
<% end %>





