<!DOCTYPE html>
<html>
  <head>
    <title>Capture.v2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  *{
    font-family: 'Montserrat', sans-serif !important;
  }
  body {
  
    /* background: #dedede; */
    background-image: url(https://images.wallpaperscraft.com/image/lake_mountains_black-and-white_serenity_54042_1920x1080.jpg);
    
    /* Potentional background images:
    https://www.desktopbackground.org/p/2010/06/19/35254_grey-smoke-wallpapers-photo_2560x1440_h.jpg
    http://papers.co/wallpaper/papers.co-ae85-gray-smoke-art-wonderful-29-wallpaper.jpg
    http://papers.co/wallpaper/papers.co-am73-smoke-white-bw-abstract-fog-art-illust-29-wallpaper.jpg
    */
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;

  }
  a:hover {
    background: none !important;
  }
  .content:hover{
    opacity: 0.8;
    transition: all 0.2s;
  }

  .item{
    color:white !important;
  }

.ui.secondary.menu{
  font-size: 1.1em;
}

.ui.secondary.button:hover{
  background-color: #333 !important;
}
 
  </style>
  <body>

  <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
