<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <style>
  body {
    /* background: #dedede; */
    background-image: url(https://www.desktopbackground.org/p/2010/06/19/35254_grey-smoke-wallpapers-photo_2560x1440_h.jpg);
    
    /* Potentional background images:
    https://www.desktopbackground.org/p/2010/06/19/35254_grey-smoke-wallpapers-photo_2560x1440_h.jpg
    http://papers.co/wallpaper/papers.co-ae85-gray-smoke-art-wonderful-29-wallpaper.jpg
    http://papers.co/wallpaper/papers.co-am73-smoke-white-bw-abstract-fog-art-illust-29-wallpaper.jpg
    */
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
  }
  a:hover {
    background: none !important;
  }
  .ui.card:hover{
    opacity: 0.8;
    transition: all 0.2s;
  }
  </style>
  <body>

  <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
