<!DOCTYPE html>
<html>
  <head>
    <title>Capture</title>
    <%= favicon_link_tag asset_path('Logo_C.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  </head>
  <style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  *:not(i){
    font-family: 'Montserrat', sans-serif !important;
  }


  body {
    margin: 0!important;
    padding: 0!important;

    /* background: #dedede; */
    background-image: url(https://www.funchap.net/wp-content/uploads/2015/08/nice-multicolours-white-wallpaper.jpeg);    

    /* Potentional background images:
    background-color: #f8f9fB;
    background-image: url(https://image.freepik.com/free-photo/colorful-powder-explosion-white_44314-2455.jpg);
    background-image: url(http://papers.co/wallpaper/papers.co-ae85-gray-smoke-art-wonderful-29-wallpaper.jpg);
    background-image: url(https://images.wallpaperscraft.com/image/lake_mountains_black-and-white_serenity_54042_1920x1080.jpg);
    https://www.desktopbackground.org/p/2010/06/19/35254_grey-smoke-wallpapers-photo_2560x1440_h.jpg
    http://papers.co/wallpaper/papers.co-ae85-gray-smoke-art-wonderful-29-wallpaper.jpg
    http://papers.co/wallpaper/papers.co-am73-smoke-white-bw-abstract-fog-art-illust-29-wallpaper.jpg
    */
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;

  }
  a:hover {
    background: none !important;
  }
  .content:hover{
    opacity: 0.8;
    transition: all 0.2s;
  }

  .item{
    color:black !important;
  }

.ui.secondary.menu{
  font-size: 1.1em;
}

.ui.secondary.button:hover{
  background-color: #333 !important;
}
.ui.red.button:hover{
  background-color: rgba(255, 0, 0, 0.6)!important;
}

.ui.card{
  border: 0!important;
}

.user_profile{
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 15px;
}

.user_details{
  display:flex;
  align-items:center;
  justify-content:center;
}

.user_details p{
  font-size: 1.6em !important;
  font-weight:bold;

}

.user_details2{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom: 15px;
}


.user_details2 p{
  font-size: 1.2em !important;
  font-weight:bold;
}

.uinfo{
  float: left; width:32%;
  # border: 1px solid black; 
  text-align:center; 
  margin:10px 10px 0px 10px;
  font-weight:bold;
}

.uinfo p{
  font-size: 1.2em !important;
}



  </style>
  <body>

  <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
